/* with commas, you combine all the selectors may or may not be related or contained within the same html ::-webkit-progress-inner-element */

/* without commas, but spacing between selectors, you select all those with a hierarchical relationship between them. Such that, 
the parent is always followed by the child. As an example, the div that contains an h1 with the class "heading" can be combined as : 
div .heading. In the given example, the div is the parent of the h1 with the class "title" */

/* without spacing or commas, we are just including the same classes/headings that are contained within the same html element.
In order to make the selection more specific as we combine more selectors present within thee same html selector. */






body {

    margin : 0;
    
    text-align: center;

}

body, .h1-title, #features, .testimonials-text, .h2-card, .h2-card-2, .h3-cta {
    font-family: 'Montserrat', sans-serif;
}

/* title section */

#title {

    background-color: #f6415c;
    color : rgb(255, 255, 255); 
    padding : 5% 12%;
    text-align: left;
    
}

.navbar-brand {

    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bolder;

}

.nav-item {

    padding: 0 1.7rem;

}

.nav-link {

    font-weight: normal;
    color: white;

}

.navbar {

    padding : 0;

}

.cont-title {

    position : relative;
    padding-bottom : 8%;

}

.stuff-row {

    padding : 0;

}

.text-buttons-col {

    padding: 0;
}

.h1-title {

    
    
    font-weight: bolder;
    font-size: 3.5rem;
    line-height: 1.5;
    
}


.cont-stuff-in-title {

    padding-top: 5rem;

}

.button-light, .button-dark {

    margin : 5% 2% 1%;
    
}



.iphone {
    width : 28%;
    transform: rotate(25deg);
    position: absolute; 
    left : 58%;      /*object abandons the natural flow */
}


/* features */



#features {
    
    
    background-color: white;
    position: relative;
    
}


/* icons */


.icons-row {
    padding : 8.5% 10%;
    font-weight: normal;
}

.icons-features {
    color: #f6415c;
    position: relative;
    padding-bottom : 2rem;
    padding-top: 2rem;
}

.fa-solid:hover {

    color: #d81f3b;

}

.h3-icons {

    font-weight:900;
    color: rgb(20, 20, 20);
    font-size: 1.7rem;

}

.p-icons {

    color: #414141;
    margin-top: 1.7rem;

}



/* testimonials */



#testimonials {

    background-color: #d7465c;

}

.testimonials-text {

    
    font-weight: bold;
   
    color: white;
    line-height: 2;
    
    padding : 3% 15%;
    

}

.testimonials-img {

    width : 25%;
    border-radius: 100%; 
    margin-top: 2rem; 

}


 
.cont-testimonials {
    
    padding : 3% 18%;

}


/* press and publications */


#press {

    background-color: #eedee1;
    
}

.cont-press {

    padding : 5%;

}

.press-logos {

    width : 50%;
       
}


/* cards - pricing */


#pricing {
    padding : 4% 10% 0;
}

.padding-card {
    padding: 4% 4% 12%;
}

.padding-card-column {
    padding : 3%;
   


}

.h2-card {
    
    font-weight: bold;
    
    color: rgb(0, 0, 0);
    line-height: 1.4;
    font-size: 2.7rem;
    
    padding : 0 15%;
    margin-top: 2%;
    
}

.h2-card-2 {
   
    font-weight: bold;
    

    color: rgb(0, 0, 0);
    margin : 0;
    padding : 5%;
   

}

.h2-card-2:hover {

    transform: scale(1.3);
    color: #d81f3b;
    


}



.h3-card {
    
    font-size: 1.2rem;
}


.card:hover {

    background-color:#ffe7eb;
    

}



/* call-to-action */



.h3-cta {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    
    font-weight: bold;
    margin-bottom: 5%;

}

.cont-cta {
    padding : 9% 20% 7%;
    background-color: #ff4c68;
   
}



/* footer */



.cont-footer {

    background-color: white;
    padding : 4%;
}

.icon-footer {

    margin : 0 1% 2%;
 
}

.p-footer {
    color: rgb(98, 98, 98);
    font-size: 0.8rem;
}

@media (max-width: 992px) {

    .iphone { 

        position : static;
        transform: rotate(0);
        margin-top: 13%;
        width : 75%;
        padding : 2% 2%;
        
        margin-right: 0;
        
        
    }

    #title {
        text-align: center;
    }


    .h1-title  {
        font-size: 2.9rem;
        
    }

    .button-dark, .button-light {
        margin-top: 10%;
        
    }


    .testimonials-text {
        line-height: 1.7;
        padding : 5% 3%;
    }

    .testimonials-img {
        width : 40%;
    }

    .h2-card {
        line-height : 1.5;
        font-size: 2.5rem;
    }

    #pricing {
        padding : 8%;
    }
    .press-logos {
        width : 35%;
        margin: 6% 0;
    }



}